@using Microsoft.Ajax.Utilities
@using SurveyAdmin.Models.SurveyInfo
@model SurveyAdmin.Models.SurveyInfo.Survey

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Survey</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpireOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpireOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilterQuestion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilterQuestion)
        </dd>

    </dl>
</div>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Question</th>
        <th>Type</th>
        <th>Choices</th>
        <th>Required</th>
        <th>Active</th>
        <th>&nbsp;</th>
    </tr>
    @foreach (var q in Model.QuestionTree)
    {
        @RenderQuestion(q)
    }
</table>

@Html.ActionLink("Add Question", MVC.Question.Create(Model.SurveyId), new {@class = "btn btn-default"})

<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.SurveyId}) |
    @Html.ActionLink("Back to List", "Index")
</p>

@helper RenderQuestion(Question q)
{
    <tr>
        <td>@Html.DisplayFor(m => q.QuestionId)</td>
        <td>
            @Html.DisplayFor(m => q.QuestionText)
        </td>
        <td>
            @Html.DisplayFor(m => q.QuestionType)
        </td>
        <td>
            @Html.DisplayFor(m => q.Options)
        </td>
        <td>
            @Html.DisplayFor(m => q.Required)
        </td>
        <td>
            @Html.DisplayFor(m => q.Active)
        </td>
        <td>
            @Html.ActionLink("Edit", MVC.Question.Edit(q.QuestionId), new {@class = "btn btn-default btn-xs"})
        </td>
    </tr>
    foreach (var c in q.Children)
    {
        @RenderQuestion(c)
    }
}